@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-y: scroll;
}

* {
	font-family: "Inter", sans-serif;
}

.box {
	fill: steelblue;
	stroke: black;
}

.median {
	stroke: black;
	stroke-width: 2;
}

.whisker {
	stroke: black;
}

.outlier {
	fill: red;
}

.bar {
	fill: steelblue;
}

.bound-bar {
	fill: orange;
	opacity: 0.3;
}

.axis-label {
	font-size: 12px;
	text-anchor: middle;
}

.text {
	fill: black;
	text-anchor: middle;
}

.line-actual {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}
.line-predicted {
	stroke: orange;
	stroke-width: 2;
	fill: none;
}

.dot {
	fill: steelblue;
}
.dot:hover {
	fill: orange;
}
.regression-line {
	stroke: red;
	stroke-width: 2;
	fill: none;
}

.bar:hover {
	fill: orange;
}
.text-label {
	font-size: 14px;
	text-anchor: middle;
	fill: black;
}
